<header class="page-header">
  <h1>About Us</h1>
</header>


<div class="container">
  <div class="row">
    <h2>Our Mission</h2>
    <p><strong> According to all known laws
    of aviation,
    there is no way a bee
    should be able to fly.
    Its wings are too small to get
    its fat little body off the ground.
    The bee, of course, flies anyway
    because bees don't care
    what humans think is impossible.
    Yellow, black. Yellow, black.
    Yellow, black. Yellow, black.
    Ooh, black and yellow!
    Let's shake it up a little.
    Barry! Breakfast is ready!
    Ooming!
    Hang on a second.
    Hello?
    - Barry?
    - Adam?...
    </strong></p>
  </div>
  <div class="row">
    <h2>Our Values</h2>
    <p><strong>
    (Reading a storybook) Once upon a time there was a lovely princess.
     But she had an enchantment upon her of a fearful sort which could only be broken by love's first kiss. 
     She was locked away in a castle guarded by a terrible fire-breathing dragon. 
     Many brave knights had attempted to free her from this dreadful prison, but non prevailed. 
     She waited in the dragon's keep in the highest room of the tallest tower for her true love and true love's first kiss. 
     (Laughs, tears out a page of the book) Like that's ever gonna happen. What a load of - (toilet flush).
    "Allstar" by Smash Mouth begins to play. Shrek exits an outhouse and goes about his day in the swamp.
    In a nearby village, an angry mob gather up to go after Shrek. 
    At night, the villagers head into the swamp and wait outside Shrek's home...
    </strong></p>
  </div>
</div>



